[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"
reposync = {git = "https://github.com/GSS-Cogs/airtable-utils.git", ref = "master"}

[packages]
jupyter = "*"
jupytext = "*"
gssutils = {git = "https://github.com/GSS-Cogs/gss-utils.git", ref = "v0.12.17"}
databaker = {git = "https://github.com/GSS-Cogs/databaker", ref = "bc24db9a106a5a03108a99e5e952056104257b95"}
dehelpers = {git = "https://github.com/GSS-Cogs/de-helpers.git", ref = "v0.0.2"}
pandas = "0.25.3"
titlecase = "*"
behave = "*"
fingertips-py = "*"
pyexcel-ods = "*"
pyexcel-odsr = "*"
pyexcel-text = "*"
python-box = "*"
html2text = "*"
chardet = "*"
SPARQLWrapper = "*"
CacheControl = {extras = ["filecache"],version = "*"}
airtable-python-wrapper = "*"
python-jenkins = "*"
matplotlib = "*"
rdflib = "==4.2.2"
jupyterlab = "*"
openpyxl = "*"
beautifulsoup4 = "*"
google-cloud-storage = "*"
selenium = "*"
backoff = "*"
flask = "*"
pymongo = "*"

[requires]
python_version = "3.8"
